@using ESportsTeams.Core.Models.ViewModels.UserViewModel;

@model IEnumerable<UserConciseViewModel>
@{
    ViewData["Title"] = "All Users";
}

<h2 class="text-center">User management</h2>
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<body>
    <
    <div class="text-center row">
        @foreach (var user in Model)
        {
            <div class="card col-4" style="width: 20rem; ">
                @*<img class="card-img-top" style="width: 18rem;"
            src="@user.ImageUrl" alt="Event Image">*@
                <div class="card-body">
                    <p class="mb-0">User Id: @user.Id</p>
                    <h5 class="card-name mt-1">Username: @user.Username</h5>
                    <p class="mb-0">Email: @user.Email</p>
                </div>
                @if (!user.IsBanned)
                {
                    <a asp-area="Administrator" asp-controller="Users" asp-action="Ban" asp-route-id="user.Id"
               class="btn btn-danger">
                        Ban
                    </a>
                }
                else
                {
                    <a asp-area="Administrator" asp-controller="Users" asp-action="Unban" asp-route-id="user.Id"
               class="btn btn-danger">
                        Remove ban
                    </a>
                }
                <div class="form-group">
                    <div class="col-sm-push-2">
                        <a asp-controller="Home" asp-action="Index" onclick="myConfirm()" class="btn btn-success">Details</a>
                    </div>
                </div>
            </div>
        }
    </div>
</body>

@section Scripts{
    <script>
        const myConfirm = function(e){
            e = e || window.event;
            e.preventDefault();
            Swal.fire({
              title: 'Are you sure?',
              text: "You won't be able to revert this!",
              icon: 'warning',
              showCancelButton: true,
              confirmButtonColor: '#3085d6',
              cancelButtonColor: '#d33',
              confirmButtonText: 'Yes, delete it!'
            }).then((result,e) => {
              if (result.isConfirmed) {
                Swal.fire(
                  'Deleted!',
                  'Your file has been deleted.',
                  'success'
                )
              }
            })
        }
    </script>
}