background-image {
    background-image: url('https://images.adsttc.com/media/images/5ef1/68f8/b357/6529/f500/0347/slideshow/yc8m6r-A_jpeg.jpg?1592879340'); 
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
}
h1{
    color:green;
}