@using ESportsTeams.Core.Models.BindingModels.Team;
@using ESportsTeams.Infrastructure.Data.Enums;
@model EditTeamViewModel

<h1 class="text-center">Are you sure you want to Edit this Team?</h1>

<div class="container">
    <form class="align-items-center justify-content-center" method="post" asp-action="Edit" enctype="multipart/form-data">
        <input type="hidden" value="AddressId" id="AddressId" />
        <div class="form-group">
            <label asp-for="Name">Name</label>
            <input asp-for="Name" class="form-control" placeholder="Name">
            <span asp-validation-for="Name" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Description">Description</label>
            <input asp-for="Description" class="form-control" placeholder="Description">
            <span asp-validation-for="Description" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Category">Team Category</label>
            <select asp-for="Category" asp-items="@Html.GetEnumSelectList<Category>()" class="form-control">
                <option selected="selected" value="">--Select--</option>
            </select>
            <span asp-validation-for="Category" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Address.Street">Street</label>
            <input asp-for="Address.Street" class="form-control" placeholder="Street">
            <span asp-validation-for="Address.Street" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Address.City">City</label>
            <input asp-for="Address.City" class="form-control" placeholder="City">
            <span asp-validation-for="Address.Street" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Address.Country">Country</label>
            <input asp-for="Address.Country" class="form-control" placeholder="Country">
            <span asp-validation-for="Address.Country" class="text-danger"></span>
        </div>
        <div class="form-group">
            <label asp-for="Image">Image</label>
            <input asp-for="Image" type="file" class="form-control" placeholder="Image">
            <span asp-validation-for="Image" class="text-danger"></span>
    
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>
</div>