@{
    ViewData["Title"] = "Home Page";
}
<link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
<body>
    <div class="background-image">
        @*<img alt="Image" src="https://images.adsttc.com/media/images/5ef1/68f8/b357/6529/f500/0347/slideshow/yc8m6r-A_jpeg.jpg?1592879340" />  *@
        
    </div>
</body>

<style>
   * {
       margin: 0;
       padding:0;
    }
    .background-image {
        background-image: url('https://images.adsttc.com/media/images/5ef1/68f8/b357/6529/f500/0347/slideshow/yc8m6r-A_jpeg.jpg?1592879340');
        background-size: cover;
        background-repeat: no-repeat;
        height: 100vh;
    }
</style>
